@import './variables';
$heart-size: 16px;
$avatar-size: 28px;
.boards {
  h2 {
    font-size: 20px;
  }
}

.card {
  background: $base-bg-color;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 30px 20px 20px 20px;

  &_row {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    h2 {
      font-size: 17px;
    }
  }

  &_detail_actions {
    display: flex;
    font-size: 12px;
    position: relative;

    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
    }
  }

  &_icon {
    margin-top: 30px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  &_content {
    p {
      font-size: 13px;
    }
  }

  &_heart {
    display: flex;

    img {
      width: $heart-size;
      height: $heart-size;
    }

    span {
      margin-left: 8px;
      font-size: 12px;
      font-weight: bold;
      color: $primary-color;
      line-height: $heart-size;
    }
  }

}